.pedidos-lista-container {
  background-color: white;
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding: 1.5rem;
  width: 100%;
  max-width: 56rem;
  position: relative;
  z-index: 10;
}

.pedidos-lista-titulo {
  font-size: 24px;
  margin-bottom: 20px;
  color: #b91c1c;
}

.pedidos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.btn-detalhes:hover {
  background-color: #991b1b;
}

.pedido-detalhes {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-width: 400px;
  width: 100%;
  color: black;
}

.pedido-detalhes h2 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #b91c1c;
}

.pedido-detalhes h3 {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.pedido-detalhes ul {
  list-style-type: none;
  padding-left: 0;
}

.pedido-detalhes li {
  margin-bottom: 5px;
}

.btn-fechar {
  background-color: #6b7280;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 15px;
}

.btn-fechar:hover {
  background-color: #4b5563;
}
